# Server Configuration
PORT=5000
NODE_ENV=development

# Database Configuration
# MongoDB Connection String (leave as is to use local MongoDB, or plug in Atlas URI.
# The server will automatically fallback to a local JSON file db if MongoDB is not reachable)
MONGO_URI=mongodb://127.0.0.1:27017/portfolio

# Email Configuration (Nodemailer)
# If empty, Nodemailer will create a temporary test account (Ethereal Email) dynamically
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=

# Contact Form Notifications
# The email address that will receive contact form submission notifications
CONTACT_EMAIL=your.email@example.com
